{% extends "base1.html" %}

{% block content %}
    <h1>Pokemon Color List</h1>
    <h4>Enter color for which Pokemon are match!</h4>
    <form action="/pokemon" method="POST" class="mui-form">
        <div class="mui-textfield mui-textfield--float-label">
            <input type="text" name = 'color' id="pokemon-color" value="{{ color }}" required>
            {% if error is defined %}
                <div style="color: red;">{{ error.error }}</div>
            {% endif %}
            <label>Pokemon Color</label>
        </div>
        <br>
        <button type="submit" value="Submit" class="mui-btn mui-btn--primary mui-btn--raised">Submit</button>        
    </form>
    {% if error is not defined and pokemons %}
        <div>
            <table class="mui-table mui-table--bordered">
                <thead>
                    <tr>
                        <th>Pokemon</th>
                        <th>Habitat</th>
                        <th>Growth Rate</th>
                        <th>Shape</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pokemon in pokemons %}
                        <tr>
                            <td>
                                {{ pokemon.name }}
                            </td>
                            <td>
                                {{ pokemon.habitat }}
                            </td>
                            <td>
                                {{ pokemon.growth_rate }}
                            </td>
                            <td>
                                {{ pokemon.shape }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}